.user-list {
  max-width: 600px;
  margin: auto;
  min-width: 300px;
}

.new-user-box {
  margin-bottom: 15px;
}

.new-user-form {
  margin: 15px 0;
}

.new-user-form .MuiFormControl-root {
  margin-right: 15px;
  vertical-align: bottom;
}
